<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href = "style.css"> 
    <title>BookStore</title>
</head>
<body>
    <h2 class = "c1">Delete a Book!</h2>

    <form action="/delete" method="POST">
        <label>Book ID: </label>&nbsp;
        <input type="number" placeholder="Enter Book ID" name="id"><br><br>

        <button id = "delete">UPDATE</button>

    </form>

    <a href="/" class="c2">Home Page</a>

</body>
</html>
